.section4_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 10em;
}

.section4_h1 {
  font-family: "Montserrat", sans-serif;
}

.section4_content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}
.section4_content_each {
  display: flex;
  align-items: center;
  margin-top: 2.5em;
  width: 40%;
}

.section4_content_content {
  margin-left: 30px;
}

.section4_content_p {
  font-size: 11px;
}

.section4_content_more {
  font-size: 12px;
}

@media only screen and (max-width: 1023px) {
  .section4_container {
    align-items: center;
  }
  .section4_content {
    flex-direction: column;
  }
  .section4_content_each {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .section4_content_content {
    text-align: center;
    margin-left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .section4_container {
    padding: 5em 1em;
  }
  .section4_h1 {
    text-align: center;
  }
}
